In [ ]:
from urllib import request 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
sns.set()

In [ ]:
import csv

In [ ]:
csv_path = 'C:/Users/HP/Downloads/hubble_data.csv' 
hubble = pd.read_csv(csv_path)

In [59]:
hubble.describe()

        distance  recession_velocity
count  24.000000           24.000000
mean    0.911375          373.125000
std     0.645496          371.254666
min     0.032000         -220.000000
25%     0.406250          165.000000
50%     0.900000          295.000000
75%     1.175000          537.500000
max     2.000000         1090.000000

In [66]:
hubble.loc[0:3]

   distance  recession_velocity
0     0.032                 170
1     0.034                 290
2     0.214                -130
3     0.263                 -70